body {
    font-family: 'Times New Roman', Times, serif;
}

li {
  list-style: none;
  float: left;
  padding: 33px 20px;
}
.header {
  background-color: coral;
  height: 200px;
}

.header-logo {
  font-size: 50px;
  float: left;
  padding: 20px 40px;
}

.header-list li{
    float: right;
    font-size: 30px;
    padding: 33px 20px;
}

.main {
  background-color: aquamarine;
  height: 700px;
  font-size: 30px;
}

.copy-container h2 {
  font-size: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec; /*batas*/
}

.content { /*konten*/
  width: 1200px;
  height: auto;
  margin: 10px auto; /*margin*/
  text-align: justify;
}
.kolom-koran {
  -webkit-column-count: 3; /*untuk chrome, safari, dan opera*/
  -moz-column-count: 3; /*khusus untuk mozilla*/
  column-count: 3;
}

.contact-form {
  padding-top: 50px;
}

input,textarea{
  width: 400px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
}

input,textarea{
  border: 1px solid #dee7ec; 
}

.submit-contact {
  background-color: #dee7ec;
  color: black;
}
.footer {
  background-color: coral;
  height: 170px;
  font-size: 30px;
}

.footer-logo {
  font-size: 40px;
  float: left;
  padding: 20px 40px;
}

.footer-list li {
  float: right;
  font-size: 30px;
  padding: 33px 20px;
}