.header {
    height: 90px;
    background-color:aquamarine
}


.header-logo {
    font-size: 35px;
    float: left;
    padding: 20px 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header-list li{
    float: right;
    font-size: 15;
    padding: 33px 20px;
}

.header-list li {
    list-style: none;
}


body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 200px 0 265px 0;
    opacity: 80;
    background-image: url(IMG_20220817_081825_977.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 50;
    letter-spacing: 5px;
    margin-bottom: 10px;

}

.top-wrapper p {
    font-size: 19px;
    letter-spacing: 2px;
    margin-bottom: 40px;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.7;
    border-radius: 4px;
}

.btn:hover {
    opacity: 1;
}

.signup {
    background-color: red;
}

.facebook { 
    background-color: blue;
    margin-right: 10px;
}

.twitter {  
    background-color: aqua;
    margin-left: 10px;
}

.main {
    background-color: aquamarine;
    height: 700px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.selection-title {
    border-bottom: 2px solid white; /*batas*/
    font-size: 40px;
}

.content { /*konten*/
    width: 1200px;
    height: auto;
    margin: 5px auto; /*margin*/
    text-align: justify;
}

.kolom-koran {
    -webkit-column-count: 3; /*untuk chrome, safari, dan opera*/
    -moz-column-count: 3; /*khusus mozilla*/
    column-count: 3;
    font-size: 30px;
    text-align: justify;
}

.contact-form {
    padding-top: 100px;
    padding-left: 60px;
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

.selection-title {
    font-size: 50px;
}

input,textarea {
    width: 400px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
}

input,textarea {
    border: 1px solid aquamarine
}

.submit-contact {
    background-color: white;
    color: black;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #f7f6ff;
}

h2 {
    margin: 16px;
}

.container {
    margin-top: 10px;
    padding: 32px;
}

.select-box {
    display: flex;
    width: 350px;
    flex-direction: column;
}

.select-box .options-container {
    background: #414b57;
    color: white;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 13px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #414b57;
    border-radius: 8px;
    margin-bottom: 8px;
    color: white;
    position: relative;

    order: 0;
}

.selected::after {
    content: "";
    background: url('down-arrow-svgrepo-com.svg');
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #0d141f;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #525861;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 12px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #5afad7;
    opacity: 0.8;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;  
}


.footer {
    background-color: aquamarine;
    height: 100px;
}

.footer-logo {
    font-size: 35px;
    float: left;
    padding: 20px 40px;
}

.footer-list li {
    float: right;
    font-size: 15px;
    padding: 33px 20px;
    list-style: none;
}

.submit-contact:hover {
    background-color: lightblue;
    color: black;
}